.inputLocalERaio {
    display: grid;
    background-color: white;
    border: 1px solid #b83838;
    border-radius: 0.1rem;
    height: 2rem;
    font-size: 1rem;

    >* {
        align-self: center;
        @include global-font;
    }

    .icon{
        grid-area: icon;
        padding-left: 3px;
        margin:0;
        color: $global-red-color;
        width:15px;
        height:15px;
    }
    
   .span{
        grid-area: span;
        text-align: center;
    }

    input{
        border: none;
        outline: none;
        float: left;
        align-self: center;
        padding-left: 0.5rem;
        flex-basis: 1;
        .local{
            padding: 0;
        }
    }  

    .local{
        grid-area: local;
    }

    .raio{
        display: flex;
        grid-area: raio;
        height: 2rem;
        align-self: center;
        padding: 0;
        
        label{
            float: left;
            align-self: center;
            padding-left: 0.5rem;
            flex-basis: 1;
        }  
        
        @include global-select;
        
        @media (max-width: 499px) {
            border: 1px solid #b83838;
            border-radius: 0.1rem;
            margin: -1px;
        }
        
        @media (min-width: 500px) {
            border-left: 1px solid #b83838;
        }
    }


    @media (max-width: 499px) {
        grid-template-columns: 20px 2rem 1fr;
        grid-template-rows: repeat(2, 2rem);
        grid-row-gap: 0.8rem;
        grid-template-areas:
            "icon span local"
            "raio raio raio"
            ;
    }
    @media (min-width: 500px) {
        grid-template-columns: 20px 2rem repeat(6, 1fr);
        grid-template-rows: 2rem;
        grid-template-areas:
            "icon span local local local local raio raio"
            ;
    }
}