.tabs{
    display: grid;
    grid-template-rows: 2.5rem;
    
    > *{
        cursor: pointer;
    }

    button{
        &:focus{
            outline: none;
        }
    }

    .tabs-button1{
        border: none;
        grid-area: button1;
    }
    .tabs-button2{
        border: none;
        grid-area: button2;
    }
    .tabs-button3{
        grid-area: button3;
        font-size: 0.7rem;
        color: rgb(167, 167, 45);
        @media (max-width: 499px) {
            display: none;
        }

        @media (min-width: 500px) {
            border: 2px solid rgb(167, 167, 45);
            border-radius: 0.1rem;
            height: 1.7rem;
            align-self: center;
            background-color: transparent;
        }
    }

    @media (max-width: 499px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "button1 button2"
    }

    @media (min-width: 500px) {
        grid-template-columns: 10rem 10rem 1fr 10rem;
        grid-template-areas:
        "button1 button2 . button3"
    }

    .tabs-button-active{
        font-weight: bold;
        border-bottom: 2px solid $global-red-color;

        .span-2{
            color: $global-red-color;
        }
    }
}

.tabs-button{
    display:grid;

    .icon{
        grid-area: icon;
        margin:0;
        padding-left: 15px;
        align-self: center;
        width:35px;
        height:35px;
    }
    
   .span-1{
            grid-area: span-1;
            font-size: 0.5rem;
            text-align: start;
            align-self: flex-end;
            left: 0;
            bottom:0;
        }
    .span-2{
            grid-area: span-2;
            font-size: 1rem;
            text-align: start;
            align-self: flex-start;
            left: 0;
        }

    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "icon span-1 span-1"
        "icon span-2 span-2"
        "icon span-2 span-2";
}