$global-max-width: 933px;
$global-max-height: 312px;
$global-min-width: 300px;
$global-min-height: 200px;
$global-background-color: rgb(231, 210, 210);
$global-red-color:#b90101;

@mixin global-font {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

@mixin global-font-bold {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

@mixin global-select {
    select{
        align-self: stretch;
        border: none;
        outline: none;
        flex-basis: 0;
        flex-grow: 1;
        margin:0.1px;
        @include global-font-bold;

        option{
            border: none;
            outline: none;
            padding: 0.5rem;
            margin: 1rem;
        }
    }
}